<footer class="web-footer">
	<section class="footer-links">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 text-left">
					<div class="row">
					{% if footer_items -%}
						<div class="col-sm-3">
							<ul class="list-unstyled navbar-nav">
								{% include "templates/includes/footer/footer_items.html" %}
							</ul>
						</div>
					{% endif %}
					</div>
				</div>

				<div class="col-sm-6 text-right">
					{% block extension %}{% include "templates/includes/footer/footer_extension.html" %}{% endblock %}
				</div>
			</div>
			<div class="row footer-bottom-line">
				<div class="text-muted small col-sm-6">
					{% if copyright %}
						&copy; {{ copyright }}
					{% elif footer_address%}
						{{ footer_address }}
					{% endif %}
				</div>
				{# powered #}
				<div class="text-muted small col-sm-6 text-right footer-powered">
					{% block powered %}
						{% include "templates/includes/footer/footer_powered.html" %}
					{% endblock %}
				</div>
			</div>
		</div>
		
<footer>
    <p class="text-muted small col-sm-6 text-right footer-powered">© Company 2014</p>
    <div class="pull-right">
        <ul class="list-inline">
        	<li><a href="kalakshetra-paithani" rel="nofollow">Home</a>
            </li>
            <li><a href="/all-item-groups/products" rel="nofollow">Products</a>
            </li>
            <li><a href="/services" rel="nofollow">Services</a>
            </li>
            <li><a href="/about" rel="nofollow">About Us</a>
            </li>
            <li><a href="/faq" rel="nofollow">FAQ</a>
            </li>
            <li><a href="/contact" rel="nofollow">Contact</a>
            </li>
            <li><a href="/blog" rel="nofollow">Blog</a>
            </li>
        </ul>
    </div>
</footer>
	</section>
</footer>
